/* 內頁 原創發表 */

.bg-grey {
    width: 100%;
    background: #fafafa !important;
    padding-top: 20px;
}

@media all and (min-width: 0px) and (max-width:1024px) {
    .bg-grey {
        padding-top: 0px;
    }
}

.videoContainer,
.videoinfoBox {
    position: relative;
    width: 100%;
    margin: 40px 0px 0px 0px;
}

@media all and (min-width: 641px) and (max-width:1140px) {

    .videoContainer,
    .videoinfoBox {
        position: relative;
        width: 90%;
        margin: 40px auto 0px auto;
        overflow-x: hidden;
    }

    .videoinfoBox .titleBox .container {
        max-width: 100%;
        margin: 20px auto 30px auto;
    }
}

.videoinfoBox .titleBox {
    width: 100%;
    background: #fff;
}

.videoContainer .container,
.videoinfoBox .titleBox .container {
    max-width: 1140px;
    margin: 20px auto 30px auto;
}

.videoContainer .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.videoContainer .container .page_main {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.videoContainer .container .page_main .photoArea {
    width: auto;
    margin-right: 20px;
}

.videoContainer .container .page_main .photoArea .photo {
    width: 200px;
    height: 200px;
    background: #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoContainer .container .page_main .photoArea .photo img {
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 200px;
    overflow-y: hidden;
}

.videoContainer .container .page_main .photoArea .photo span {
    color: #9a9a9a;
    font-size: 32px;
}

.videoContainer .container .page_main .info {
    width: 60%;
    color: #333;
}

.videoContainer .container .page_main .info .name {
    color: #b13120;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.videoContainer .container .page_main .info .idname {
    font-size: 14px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.videoContainer .container .page_main .info .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 32px;
    background: #b13120;
    color: #fff;
    cursor: pointer;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
}

.videoContainer .container .page_main .info .btn:hover {
    background: #d23d29;
}

.videoContainer .container .page_main .info .btn.grey {
    background: #888 !important;
    cursor: default;
}

.videoContainer .container .page_main .infoBox {
    width: 100%;
    background: #fafafa;
    padding: 10px;
    color: #333;
    font-size: 13px;
    text-align: justify;
    line-height: 1.5;
    margin-top: 20px;
}

@media all and (min-width: 0px) and (max-width:414px) {
    .videoContainer .container .page_main {
        flex-wrap: wrap;
        justify-content: center;
    }

    .videoContainer .container .page_main .info {
        width: 100%;
        justify-content: center;
    }

    .videoContainer .container .page_main .info .name,
    .videoContainer .container .page_main .info .idname {
        text-align: center;
        width: 100%;
        justify-content: center;
    }

    .videoContainer .container .page_main .info .btn {
        margin: 0 auto;
    }

    .videoContainer .container .page_main .photoArea {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0px;
    }

    .videoContainer .container .page_main .photoArea .photo {
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
    }
}

@media all and (min-width: 0px) and (max-width:1140px) {

    .videoContainer .container,
    .videoinfoBox .titleBox .container {
        width: 100%;
        margin: 20px auto 30px auto;
    }
}

@media all and (min-width: 481px) and (max-width:640px) {

    .videoContainer,
    .videoinfoBox {
        position: relative;
        width: 96%;
        margin: 40px auto 0px auto;
    }
}

@media all and (min-width: 0px) and (max-width:480px) {

    .videoContainer,
    .videoinfoBox {
        position: relative;
        width: 96%;
        margin: 20px auto 0px auto;
    }
}

.videoinfoBox .titleBox .container h2 {
    position: relative;
    padding-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #d23d29;
}

.videoinfoBox .titleBox .container h2::after {
    border-bottom: 3px solid #d23d29;
    bottom: -1px;
    content: ".";
    display: block;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    width: 72px;
    left: 0;
}

.videoinfoBox .titleBox .container h2 a {
    color: #d23d29;
}

.videoinfoBox .titleBox .container h2 a:hover {
    color: #b93625;
}

.videoinfoBox .infoBox {
    width: 100%;
    background: #fff;
    padding-bottom: 60px;
}

@media all and (min-width: 0px) and (max-width:480px) {
    .videoinfoBox .infoBox {
        padding-bottom: 100px;
    }
}

.videoinfoBox .infoBox .container {
    max-width: 1140px;
    margin: 20px auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.videoinfoBox .infoBox .container .org_list {
    width: 24%;
    margin-right: 1.2%;
    margin-bottom: 20px;
}

@media all and (min-width: 641px) and (max-width:1024px) {
    .videoinfoBox .infoBox .container .org_list {
        width: 32.5%;
        margin-right: 1.2%;
        margin-bottom: 20px;
    }
}

.videoinfoBox .infoBox .container .w50 {
    width: 48.8%;
    margin-right: 2.4%;
    margin-bottom: 20px;
}

.videoinfoBox .infoBox .container .w50:nth-child(2n) {
    margin-right: 0%;
}

@media all and (min-width: 0px) and (max-width:640px) {
    .videoinfoBox .infoBox .container .w50 {
        width: 100%;
        margin-right: 0%;
        margin-bottom: 20px;
    }
}

@media all and (min-width: 0px) and (max-width:480px) {

    .videoinfoBox .infoBox .container .org_list,
    .videoinfoBox .infoBox .container .w50 {
        width: 100%;
        margin-right: 0%;
        margin-bottom: 20px;
    }
}

.videoinfoBox .infoBox .container .org_list:nth-child(4n) {
    margin-right: 0%;
}

@media all and (min-width: 641px) and (max-width:1024px) {
    .videoinfoBox .infoBox .container .org_list:nth-child(3n) {
        margin-right: 0%;
    }

    .videoinfoBox .infoBox .container .org_list:nth-child(4n) {
        margin-right: 1.2%;
    }

    .videoinfoBox .infoBox .container .w50:nth-child(4n) {
        margin-right: 0%;
    }

    .videoinfoBox .infoBox .container .w50:nth-child(3n) {
        margin-right: 2.4%;
    }

    .videoinfoBox .infoBox .container .w50 .b_video iframe {
        height: 220px !important;
    }
}

@media all and (min-width: 481px) and (max-width:640px) {
    .videoinfoBox .infoBox .container .org_list:nth-child(3n) {
        margin-right: 1.2%;
    }

    .videoinfoBox .infoBox .container .org_list:nth-child(4n) {
        margin-right: 1.2%;
    }

    .videoinfoBox .infoBox .container .w50 .b_video iframe {
        height: 220px !important;
    }
}

@media all and (min-width: 0px) and (max-width:480px) {
    .videoinfoBox .infoBox .container .org_list .b_video iframe {
        height: 220px !important;
    }

    .videoinfoBox .infoBox .container .w50 .b_video iframe {
        height: 220px !important;
    }
}

@media all and (min-width: 481px) and (max-width:640px) {
    .videoinfoBox .infoBox .container .org_list {
        width: 49%;
        margin-right: 1.5%;
        margin-bottom: 20px;
    }

    .videoinfoBox .infoBox .container .org_list:nth-child(2n),
    .videoinfoBox .infoBox .container .org_list:nth-child(4n) {
        margin-right: 0%;
    }
}

.videoinfoBox .infoBox .container .org_list .b_txt {
    font-size: 13px;
    color: #606060;
}

.videoinfoBox .infoBox .container .org_list .b_txt h3 {
    font-size: 16px;
    font-weight: bold;
    color: #484848;
    max-height: 3.2rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    font-weight: bold;
    line-height: 1.6rem;
    margin: 4px 0px;
    cursor: pointer;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
}

.videoinfoBox .infoBox .container .org_list .b_txt h3:hover {
    color: #000;
}

.videoinfoBox .infoBox .container .org_list .b_info {
    font-size: 12px;
    color: #aaa;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 14px 0px;
}

.videoinfoBox .infoBox .moreBox {
    width: 100%;
}

.videoinfoBox .infoBox .moreBox .moreBtn {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.videoinfoBox .infoBox .moreBox .moreBtn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 35px;
    background: #b13120;
    color: #fff;
    border: 1px solid #b13120;
}

.videoinfoBox .infoBox .moreBox .moreBtn a span {
    padding-left: 6px;
}

@media all and (min-width: 0px) and (max-width:640px) {
    .videoinfoBox .infoBox .moreBox .moreBtn a {
        width: 100%;
    }
}

.videoinfoBox .infoBox .moreBox .moreBtn a:hover {
    color: #b13120;
    background: none;
}

.videoinfoBox .infoBox .box_c {
    max-width: 1140px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

@media all and (min-width: 0px) and (max-width:414px) {
    .videoinfoBox .infoBox .box_c .t_main {
        margin-bottom: 20px;
    }
}

.videoinfoBox .infoBox .box_c a {
    color: #fff;
    background: #b13120;
    width: 90px;
    height: 36px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

@media all and (min-width: 0px) and (max-width:414px) {
    .videoinfoBox .infoBox .box_c a {
        margin-right: 4px;
        font-size: 0.9rem;
    }

    .videoinfoBox .infoBox .box_c a:nth-child(4n) {
        margin-right: 0px;
    }
}

.videoinfoBox .infoBox .box_c a.grey {
    background: #888 !important;
    cursor: default;
}

.videoinfoBox .infoBox .box_c .searchBox {
    display: flex;
    align-items: center;
}

.videoinfoBox .infoBox .box_c .searchBox .searchselect span {
    font-size: 24px;
    color: #666;
    margin-right: 4px;
}

.videoinfoBox .infoBox .box_c .searchBox .searchselect .b_select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #f2f2f2;
    color: #333;
    width: 160px;
    height: 36px;
    border: none;
    border-radius: 0px;
    padding-left: 10px;
    margin-right: 8px;
    background: url(../images/search_bg.png) no-repeat;
}

.videoinfoBox .infoBox .box_c .searchBox .music_s {
    width: 60px;
    height: 36px;
    background: #999;
    color: #fff;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
}

.videoinfoBox .infoBox .box_c .searchBox .music_s:hover {
    background: #333;
}