html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

.fixed {
    position: fixed !important;
}

@media all and (min-width: 0px) and (max-width:414px) {
    .fixed {
        position: relative !important;
    }
}

html,body {
    width: 100%;
    overflow-x: hidden;
}

body {
    line-height: 1;
    color: black;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif !important;
    background: white;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: """";
}

header {
    position: relative;
    width: 100%;
    border-top: 4px solid #d23d29;
}
button,input[type="submit"],input[type="button"] {
    border-radius: 0;
    background-image: none;
    -webkit-border-radius:0px;
}
input[type="submit"],input[type="button"] {
    background-image: none;
    border-radius: 0;
    -webkit-appearance: none;  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
    -moz-appearance: none;     /* FireFox */
    appearance: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input:not('.checkbox'),textarea {
    background: transparent;  
	outline:none;  
	border:0px;
    border-radius: 0!important;
    -webkit-border: none;
    -moz-border: none;
    -webkit-appearance: none;  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
    -moz-appearance: none;     /* FireFox */
    appearance: none;
    box-shadow: 0 0 0 0;
}

a {
    color: #606060;
}
a:hover {
    color: #909090;
}

.checkbox {
    margin-right: 5px;
}
.mt30 {
    margin-top: 30px!important;
}
.hide {
    display: none !important;
}

.main-header {
    max-width: calc(1130px + 72px);
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 36px;
}


@media all and (min-width: 0px) and (max-width:767px) {
    header {
        overflow: hidden;
    }

    .main-header {
        width: 90%;
        height: auto;
        margin: 20px auto;
        flex-wrap: wrap;
    }
}

.main-header .header_left {
    width: 30%;
}

@media all and (min-width: 0px) and (max-width:767px) {
    .main-header .header_left {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.main-header .header_left span {
    font-size: 80px;
    color: #d23d29;
}

@media all and (min-width: 768px) and (max-width:1024px) {
    .main-header .header_left span {
        font-size: 72px;
    }
}

@media all and (min-width: 0px) and (max-width:767px) {
    .main-header .header_left span {
        font-size: 80px;
    }
}

@media screen and (max-width:767px) {
    .main-header.active {
        position: fixed;
        top: 0;
        background-color: #fff;
        z-index: 99;
    }
    .main-header .header_left span {
        display: inline-block;
        width: 60vw;
        height: 40px;
        margin-left: 5px;
        background-image: url(../images/logo-m.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .main-header .header_left .icon-logo:before {
        display: none;
    }
}

.main-header .header_right {
    width: 50%;
}

@media all and (min-width: 0px) and (max-width:767px) {
    .main-header .header_right {
        width: 100%;
    }
}

.main-header .header_right .header_c {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

@media all and (min-width: 0px) and (max-width:767px) {
    .main-header .header_right .header_c {
        justify-content: center;
        margin-bottom: 15px;
    }
}

header .header_c .login {
    background: #b13120;
    color: #fff;
    width: auto;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
}

header .header_c .login:hover {
    background: #b93625;
}

header .header_c .login a {
    margin: 0px 8px;
    color: #fff;
}

header .header_c .login a span {
    padding-right: 3px;
}

header .header_c .fb_icon {
    background: #3B5998;
    color: #fff;
    width: 146px;
    height: 32px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
}

header .header_c .logout {
    background: #acacac;
    color: #fafafa;
    width: 72px;
    height: 32px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
}

header .header_c .fb_icon a {
    color: #fff;
}

header .header_c .fb_icon:hover {
    background: #00508d;
}

.main-header .header_right .search {
    /* width: 480px; */
    height: 32px;
    float: right;
    /* border: 1px solid #acacac; */
    background: #fff;
}

.main-header .header_right .search .b_select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    color: #333;
    width: 140px;
    height: 34px;
    border: 1px solid #acacac;
    border-right: none;
    border-radius: 0px;
    padding-left: 10px;
    margin-left: 8px;
}

.main-header .header_right .search .searchselect {
    background-color: #FFF;
    position: relative;
    z-index: 1;
}

.main-header .header_right .search .searchselect::after {
    content: '';
    width: 0;
    height: 0;
    display: inline-block;
    border-style: solid;
    border-width: 10px 6px 0 6px;
    border-color: #787878 transparent transparent transparent;
    position: absolute;
    top: 13px;
    right: 10px;
    z-index: -1;
}

@media screen and (min-width:768px) {
    .main-header .header_right .search-toggle {
        display: none;
    }
}

@media all and (min-width: 768px) and (max-width:1024px) {
    .main-header .header_right .search {
        width: 380px;
    }
}

@media all and (min-width: 0px) and (max-width:767px) {
    .main-header .header_right .search-toggle {
        display: inline-flex;
        width: 30px;
        height: 30px;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        position: absolute;
        top: 24px;
        right: 20px;
        margin-top: 1px;
    }

    .main-header .header_right .search {
        width: 100%;
        margin-top: 20px;
    }
}
@media screen and (max-width: 767px) {
    header .header_c .login {
        margin-right: 0;
        margin-bottom: 10px;
    }
    header .header_c .login a{
        width: 50%;
        text-align: center;
    }
    header .header_c .fb_icon {
        width: 100%;
    }
}

.main-header .header_right .search .formBox {
    display: flex;
    align-items: center;
    border: none;
    height: 32px;
    position: relative;
}

.main-header .header_right .search .formBox .search_in {
    width: auto;
    height: 16px;
    /* border: none; */
    border: 1px solid #acacac;
    background: none;
    padding: 8px;
}

@media all and (min-width: 768px) and (max-width:1024px) {
    .main-header .header_right .search .formBox .search_in {
        width: 300px;
    }
}

@media screen and (max-width: 767px) {

    .main-header .header_right .header_c,
    .main-header .header_right .search {
        display: none;
    }
}

.main-header .header_right .search .formBox .search_b {
    /* position: absolute; */
    /* right: 0; */
    border: none;
    background: #8b8b8b;
    width: 71px;
    height: 34px;
    padding: 0px 12px;
    color: #fff;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    font-size: 14px;
}

.main-header .header_right .search .formBox .search_b:hover {
    background: #b93625;
}

/* 漢堡選單 開始 */
header .menu-toggle {
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 24px;
    left: 20px;
    cursor: pointer;
    z-index: 99;
}

header .menu-toggle .hamburger {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #000;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

header .menu-toggle .hamburger::before,
header .menu-toggle .hamburger::after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: #000;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    position: absolute;
}

header .menu-toggle .hamburger::before {
    top: -8px;
}

header .menu-toggle .hamburger::after {
    bottom: -8px;
}

header .menu-toggle.active .hamburger {
    width: 0;
}

header .menu-toggle.active .hamburger::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

header .menu-toggle.active .hamburger::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media screen and (max-width: 767px) {
    header .menu-toggle {
        display: block;
    }
}

/* 漢堡選單 結束 */

/*子選單 開始*/
header .menu {
    width: 100%;
    margin: 0 auto;
    background: #b13120;
    z-index: 100;
}

header .menu>ul {
    position: relative;
    max-width: calc(1130px + 72px);
    height: 42px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 0 36px;
}

header .menu>ul li {
    position: relative;
    height: 42px;
    display: flex;
    align-items: center;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
}

header .menu>ul li:after {
    position: absolute;
    background: #a12717;
    height: 20px;
    width: 1px;
    content: "";
    top: 12px;
}

header .menu>ul li:hover:after {
    background: none;
}

header .menu>ul a,header .menu>ul span {
    font-size: 18px;
    padding: 0px 15px;
    height: 42px;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .menu>ul li a:hover,header .menu>ul li span:hover {
    color: #fff;
    background: #b93625;
}

/*sub - nav*/
header .menu .sub-nav {
    display: none;
    z-index: 99;
}

@media screen and (min-width: 768px) {
    header .menu>ul .sub-toggle {
        position: relative;
    }
    header .menu>ul li.pc_hide {
        display: none;
    }
    header .menu>ul li i {
        display: none;
    }

    header .menu .sub-toggle:hover .sub-nav {
        display: block;
        background-color: #8b8b8b;
        position: absolute;
        top: 100%;
        left: 0;
    }

    header .menu .header_c {
        display: none;
    }
    header .menu .member-bar {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    header .menu {
        display: block;
        width: 100%;
        height: calc(100vh - 87px);
        max-width: none;
        background-color: #E5E5E5;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        padding: 20px;
        position: fixed;
        top: 87px;
        left: -100%;
        -webkit-transition:left 0.25s ease-in-out;
        transition: left 0.25s ease-in-out;
        box-sizing: border-box;
        padding-bottom: 80px;
    }

    header .menu::after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: #000;
        position: absolute;
        top: 87px;
        left: -100%;
    }

    header .menu.active {
        left: 0;
    }

    header .menu.active::after {
        -webkit-animation: mask-animate .8s ease;
        animation: mask-animate .8s ease;
    }
    header .menu .phone_hide {
        display: none;
    }
    header .menu .member-bar {
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: center;
        color: #FFF;
        background-color: #b93625;
        margin: -20px -20px 20px;
    }
    header .menu .member-bar i {
        font-size: 18px;
        margin-right: 10px;
    }
    header .menu > ul {
        height: auto;
        flex-direction: column;
        margin-bottom: 20px;
    }
    header .menu > ul li {
        width: 100%;
        display: block;
        height: auto;
        text-align: center;
        padding: 10px 0;
        border-top: 1px dotted #555;
    }
    header .menu > ul li:first-child{
        border: none;
    }

    header .menu > ul li a, header .menu > ul li span {
        display: inline-block;
        line-height: 40px;
        text-align: justify;
        font-weight: normal;
        color: #555;
    }
    header .menu > ul li a i, header .menu > ul li span i {
        margin-right: 20px;
    }
    header .menu > ul li::after {
        display: none;
    }
    header .menu .sub-nav{
        margin: 10px 10px;
    }
    header .menu .sub-nav ul li {
        height: 42px;
        background: #eeeeee;
        display: flex;
        align-items: center;
        justify-content: center;
        
        font-size: 16px;
        -webkit-transition: .2s ease-out;
        padding: 5px 0;
        margin: 0;
        border-top: 1px solid #FFF;
        border-bottom: 1px solid #ddd;
        transition: .2s ease-out;
    }
    header .menu .sub-nav ul li.active {
        background: #b13120;
    }

    header .menu .sub-nav ul li a::before {
        content: "\ea16";
        display: inline-block;
        font-family: 'icomoon' !important;
        font-size: 16px;
        margin-right: 20px;
    }
    header .user-out {
        display: flex;
        height: 40px;
        padding: 10px 0;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: #555;
        margin-top: 20px;
    }
    header .user-out i{
        width: 20px;
        height: 20px;
        display: inline-block;
        background-image: url(../images/user-out.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 20px;
    }
    .main-header .header_right .search {
        height: auto;
    }
    .main-header .header_right .search .formBox {
        flex-wrap: wrap;
        height: auto;
        z-index: 999999;
    }
    .main-header .header_right .search .search_in,.main-header .header_right .search .searchselect {
        flex-grow: 1;
        width: 100%;
        margin: 0 0 8px;
    }
    .main-header .header_right .search .b_select {
        width: 100%;
        border-right: 1px solid #acacac;
        margin: 0;
    }
    .main-header .header_right .search .search_b {
        width: 100%!important;
        position: static;
    }
}

/* 子選單 結束*/



.uiGrid _51mz {
    width: 280px !important;
}

.navfix {
    position: fixed !important;
    top: 0px !important;
    background: #b93625;
    color: #fff;
    display: flex;
}

.navfix .menu li a {
    color: #fff;
}

.navfix .menu .logo {
    color: #fff;
    font-size: 24px;
    margin-right: 14px;
}

@media all and (min-width: 0px) and (max-width:414px) {
    .navfix .menu .logo {
        display: none;
    }
}

/* 會員登入 */
.loginBox {
    position: relative;
    width: 100%;
    margin: 40px 0px 0px 0px;
}

.loginBox .box01 {
    max-width: 1140px;
    margin: 20px auto 30px auto;
}

.loginBox .box01 .b_title {
    text-align: center;
}

.loginBox .box01 .b_title h3 {
    max-width: 400px;
    width: 100%;
    display: inline-block;
    border-bottom: #b13120 solid 1px;
    margin-bottom: 25px;
}

.loginBox .box01 .b_title em {
    border-bottom: #b13120 solid 2px;
    display: inline-block;
    padding: 0 0 8px 0;
    font-size: 18px;
    font-weight: bold;
    color: #b13120;
}

.loginBox .box01 .loginform {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.loginBox .box01 .loginform .input_content {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 40px;
    border: 1px solid rgb(218, 218, 218);
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
}

.loginBox .box01 .loginform .input_content input {
    width: 280px;
    height: 36px;
    padding-left: 10px;
    font-size: 14px;
    border: none;
}

.loginBox .box01 .loginform .input_content {
    position: relative;
    max-width: 400px;
    height: 40px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    border: none;
}

.loginBox .box01 .loginform .input_content .title {
    width: 80px;
    padding-right: 15px;
    text-align: right;
    font-size: 12px;
}

.loginBox .box01 .loginform .input_content .title b {
    font-weight: bold;
    color: #b93625;
}

.loginBox .box01 .loginform .input_content input,
.loginBox .box01 .loginform .input_content .input {
    width: calc(100% - 100px);
    height: 36px;
    padding-left: 10px;
    font-size: 14px;
    border: 1px solid rgb(218, 218, 218);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loginBox .box01 .loginform .input_content .input input {
    width: calc(100% - 100px);
    height: auto;
    padding-left: 0px;
    border: none;
}

.loginBox .box01 .loginform .input_content .pic {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginBox .box01 .loginform .input_content .pic img {
    display: inline-block;
    height: 28px;
    margin-right: 3px;
}

.loginBox .box01 .loginform .input_content .pic a img.refresh {
    display: inline-block;
    height: 20px;
    margin: 0px 3px;
}

.loginBox .box01 .loginform .f_member_remember {
    max-width: 315px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
    color: #666;
    padding-left: 100px;
}

.loginBox .box01 .loginform .button {
    width: 100%;
    max-width: 315px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b13220;
    margin: 10px 0px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    margin-left: 85px;
}

.loginBox .box01 .loginform .button:hover {
    background: #b93625;
}

.loginBox .box01 .loginform .button a {
    color: #fff;
}

.loginBox .box01 .loginform .another {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 6px;
}

.loginBox .box01 .loginform .another a {
    color: #d23d29;
    margin: 0px 2px;
}

.loginBox .box01 .loginform .another .fb-login-button {
    margin-left: 4px;
}

/* 忘記密碼 */
.forgetBox {
    position: relative;
    width: 100%;
    margin: 40px 0px 0px 0px;
}

.forgetBox .box01 {
    max-width: 1140px;
    margin: 20px auto 30px auto;
}

.forgetBox .box01 .b_title {
    text-align: center;
}

.forgetBox .box01 .b_title h3 {
    width: 300px;
    display: inline-block;
    border-bottom: #b13120 solid 1px;
    margin-bottom: 25px;
}

.forgetBox .box01 .b_title em {
    border-bottom: #b13120 solid 2px;
    display: inline-block;
    padding: 0 0 8px 0;
    font-size: 18px;
    font-weight: bold;
    color: #b13120;
}

.forgetBox .box01 .loginform {
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 20px;
}

.forgetBox .box01 .loginform .input_content {
    position: relative;
    width: 300px;
    height: 40px;
    border: 1px solid rgb(218, 218, 218);
    margin-bottom: 30px;
    display: flex;
    align-items: center;

}

.forgetBox .box01 .loginform .input_content input {
    width: 280px;
    height: 36px;
    padding-left: 10px;
    font-size: 14px;
    border: none;
}

.forgetBox .box01 .loginform .input_content span {
    background: #b13120;
    color: #fff;
    width: 124px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    margin-right: 6px;
    cursor: pointer;
}

.forgetBox .box01 .loginform .f_member_remember {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

.forgetBox .box01 .loginform .button {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b13220;
    margin: 10px 0px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
}

.forgetBox .box01 .loginform .button:hover {
    background: #b93625;
}

.forgetBox .box01 .loginform .button a {
    color: #fff;
}

.forgetBox .box01 .loginform .another {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 6px;
}

/* 新會員註冊 */
.signupBox {
    position: relative;
    width: 100%;
    margin: 40px 0px 0px 0px;
}

.signupBox .box01 {
    max-width: 1140px;
    margin: 20px auto 100px auto;
}

.signupBox .box01 .b_title {
    text-align: center;
}

.signupBox .box01 .b_title h3 {
    width: 400px;
    display: inline-block;
    border-bottom: #b13120 solid 1px;
    margin-bottom: 25px;
}

.signupBox .box01 .b_title em {
    border-bottom: #b13120 solid 2px;
    display: inline-block;
    padding: 0 0 8px 0;
    font-size: 18px;
    font-weight: bold;
    color: #b13120;
}

.signupBox .box01 .photoupload {
    width: 400px;
    padding-left: 170px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.signupBox .box01 .photoupload .photo {
    background: #d3d3d3;
    width: 180px;
    height: 180px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signupBox .box01 .photoupload .photo span {
    font-size: 60px;
    color: #9a9a9a;
}

.signupBox .box01 .photoupload .btn {
    width: 180px;
    height: 32px;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
}

.signupBox .box01 .photoupload .btn:hover {
    background: #ccc;
}

.signupBox .box01 .photoupload .btn a {
    color: #333;
}

.signupBox .box01 .loginform {
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.signupBox .box01 .loginform a {
    color: #b13120;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
}

.signupBox .box01 .loginform p {
    font-size: 13px;
    margin-top: 16px;
    line-height: 1.6;
    color: #000;
}

.signupBox .box01 .loginform p span {
    color: #b13120;
    font-weight: bold;
}

.signupBox .box01 .loginform .input_content {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 40px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 480px) {
    .signupBox .box01 .b_title h3{
        width: 90%;
    }
    .signupBox .box01 .loginform .input_content {
        width: 90%;
    }
}
.signupBox .box01 .loginform .input_content2 {
    border: none;
    margin-top: -1px;
}

.signupBox .box01 .loginform .input_content .title {
    width: 80px;
    padding-right: 10px;
    text-align: right;
    font-size: 12px;
}

.signupBox .box01 .loginform .input_content .title b {
    color: #b93625;
    font-weight: bold;
}

.signupBox .box01 .loginform .input_content input {
    width: 320px;
    height: 36px;
    padding-left: 10px;
    font-size: 14px;
    border: 1px solid rgb(218, 218, 218);

}

.signupBox .box01 .loginform .input_content .input {
    width: 320px;
    height: 36px;
    padding-left: 10px;
    font-size: 14px;
    border: 1px solid rgb(218, 218, 218);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.signupBox .box01 .loginform .input_content .input input {
    width: auto;
    height: auto;
    padding-left: 0px;
    border: none;
}


.signupBox .box01 .loginform .input_content img {
    display: inline-block;
    height: 28px;
    margin-right: 3px;
}

.signupBox .box01 .loginform .input_content2 div span {
    background: #5A5A5A;
    color: #fff;
    width: 314px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}

.signupBox .box01 .loginform .f_member_remember {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding-left: 83px;
    font-size: 14px;
    color: #666;
}

.signupBox .box01 .loginform .button {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b13220;
    margin: 10px 0px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    margin-left: 83px;
    cursor: pointer;
}

.signupBox .box01 .loginform .button:hover {
    background: #b93625;
}

.signupBox .box01 .loginform .button a {
    color: #fff;
}
@media screen and (max-width: 480px) {
    .signupBox .box01 .loginform .button {
        margin-left: 95px;
        margin-right: 5%;
    }
    .signupBox .box01 .loginform .f_member_remember {
        padding-left: 90px;
    }
}

.signupBox .box01 .loginform .another {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 6px;
}

.signupBox .box01 .loginform .input_content .pic {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signupBox .box01 .loginform .input_content .pic a img.refresh {
    display: inline-block;
    height: 20px;
    margin: 0px 3px;
}

/* 使用條款 */
.rulesBox {
    position: relative;
    width: 100%;
    margin: 40px 0px 0px 0px;
}

.rulesBox .box01 {
    max-width: 900px;
    margin: 20px auto 100px auto;
}
@media screen and (max-width: 767px) {
    .rulesBox .box01 {
        width: calc(100% - 40px);
    }
}

.rulesBox .box01 .b_title {
    text-align: center;
}

.rulesBox .box01 .b_title h3 {
    max-width: 400px;
    width: 100%;
    display: inline-block;
    border-bottom: #b13120 solid 1px;
    margin-bottom: 25px;
}
.rulesBox.news .box01 .b_title h3 {
    max-width: none;
    width: auto;
}

.rulesBox .box01 .b_title em {
    border-bottom: #b13120 solid 2px;
    display: inline-block;
    padding: 0 0 8px 0;
    font-size: 18px;
    font-weight: bold;
    color: #b13120;
}

.rulesBox .box01 .b_dit2 {
    border: #eeeeee solid 10px;
    padding: 20px;
    font-size: 13px;
    line-height: 2;
    color: #362e2b;
    word-break: normal;
}

.rulesBox .box01 .b_dit2 ul {
    padding-left: 20px;
}

.rulesBox .box01 .b_dit2 ul li {
    list-style: cjk-ideographic;
}

.rulesBox .box01 .b_dit2 ul li ol {
    padding-left: 20px;
}

.rulesBox .box01 .b_dit2 ul li ol li {
    list-style: decimal;
}


.black_Zone {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.black_Zone .Area {
    width: 480px;
    height: auto;
    padding: 35px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 300px;
    background: #fff;
}

.black_Zone .Area .btn {
    background: #888;
    width: 30%;
    height: 36px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff
}

.black_Zone .Area .btn a {
    color: #fff;
}

.black_Zone .Area .btn:hover {
    background: #999;
}

.black_Zone .Area .loginform {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
}

.black_Zone .Area .btn {
    background: #B1311E;
    width: 30%;
    height: 36px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff
}

.black_Zone .Area .btn a {
    color: #fff;
}

.black_Zone .Area .btn:hover {
    background: #d23d29;
}

.black_Zone .Area .loginform .txtL {
    width: 50%;
    text-align: left;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: normal;
    line-height: 1.8;
}

.sub-info {
    font-size: 16px;
    font-weight: normal;
    margin: 0 10px;
}
.sub-info .num {
    font-size: 18px;
    margin: 0 5px;
    color: #d23d29;
}
.message-box {
    box-sizing: border-box;
    padding: 0 20px;
    margin-top: 10px;
}
.message-box .message-list {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding: 14px 0;
    border-bottom: 1px solid #ccc;
}
.message-box .message-list:hover .title {
    color: #b13120;
}
.message-box .message-list .title {
    color: #555;
    /* font-weight: 600; */
}
.message-box .message-list .date {
    color: #aaa;
    font-size: 14px;
}
.message-box .more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 35px;
    background: #b13120;
    color: #fff;
    border: 1px solid #b13120;
    margin: 40px auto 0;
}

@media screen and (max-width: 767px){
    .message-box {
        margin-bottom: 40px;
    }
    .message-box .more {
        width: 100%;
    }
}
.news{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}
.news .titleBox {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.news .titleBox h2 {
    width: 400px;
    display: inline-block;
    border-bottom: #b13120 solid 1px;
    margin-bottom: 25px;
}

.news .titleBox h2 a {
    border-bottom: #b13120 solid 2px;
    display: inline-block;
    padding: 0 0 8px 0;
    font-size: 18px;
    font-weight: bold;
    color: #b13120;
}
.news .new-lists {
    overflow: hidden;
    margin-bottom: 120px;
}
.news .new-lists .item {
    display: inline-block;
    width: 260px;
    display: inline-block;
    margin: 5px 9px 30px;
}
.news .new-lists .item .title {
    font-size: 16px;
    font-weight: bold;
    color: #484848;
    max-height: 3.2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    font-weight: bold;
    line-height: 1.6rem;
    margin: 4px 0px;
    cursor: pointer;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    margin-bottom: 10px;
    text-align: left;
}
.news .new-lists .item .photo {
    width: 100%;
    height: 200px;
    background-color: #f2f2f2;
    margin-bottom: 10px;
}
.news .new-lists .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #aaa;
}
.news .new-lists .info .editor {
    font-size: 13px;
    font-weight: 600;
    color: #606060;
}
.news .new-lists .item:hover .title {
    color: #b13120;
}

.news .back {
    color: #b13120;
    font-size: 18px;
    position: absolute;
}
@media screen and (min-width: 768px) {
    .news .b_title {
        position: relative;
    }
    .news .back {
        top: 0;
        left: 0;
    }
}
@media screen and (max-width: 767px) {
    .news .box01 {
        position: relative;
    }
    .news .back { 
        bottom: -90px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}
.news .back::before {
    content: '\ea39';
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'icomoon' !important;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    background-color: #b13120;
    color: #FFF;
    margin-right: 10px;
    margin-bottom: 30px;
}
.news .b_dit2 {
    text-align: left;
}

@media (max-width: 480px) and (min-width: 0px) {
    .b_video iframe, .masterBox .b_video iframe {
        height: 220px !important;
    }
}


.news .moreBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 35px;
    background: #b13120;
    color: #fff;
    border: 1px solid #b13120;
    margin: -40px auto 60px;
}
.news .moreBtn a{
    color: #FFF;
}